{% extends 'applicants/app_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}

<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex flex-column">
							<h2 class="contact-btns" href="#">Create New HR Account</h2>
						</div>
						<div class="col-lg-8">
							<form class="form-area " method="post" class="contact-form text-right" ENCTYPE="multipart/form-data">
                                {% csrf_token %}
								<div class="row">
									<div class="col-lg-12 form-group">
                                        <label>Upload Your CV</label>
										<input name="image" placeholder=""  class="common-input mb-20 form-control" required="" type="file">
										<button type="submit" class="primary-btn mt-20 text-white" style="float: right;">Apply</button>
										<div class="mt-20 alert-msg" style="text-align: center;"></div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>


{% endblock %}
