{% extends 'hr/hr_base.html' %}
{% load static %}
{% block content %}
 {% if message %}
         <script> alert("{{ message }}")</script>
     {% endif %}
    <section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Employee Attendance Details</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>

<div id="page-inner" >
<table class="table table-bordered table-striped table-hover">

<th class="success">EMPLOYEE ID</th>
<th class="success">DEPARTMENT</th>
<th class="success">EMPLOYEE NAME</th>
<th class="success">DATE</th>
<th class="success">ABSENT/PRESENT</th>
{% for com in atten %}

<tr>
    <td>{{ com.employee.empid}}</td>
    <td>{{ com.employee.department}}</td>
    <td>{{ com.employee.user.first_name}}</td>

    <td>{{ com.date}}</td>
    <td>{{ com.status}}</td>

</tr>

    {% endfor %}
</table>
        </div>
					</div>
				</div>
			</section>



{% endblock %}
